body {
    background-color: #340068;
}

@media (max-width: 1080px) {

    body {
        background-color: #ff6978;
    }
}

@media (min-width: 999px) {

    body {
        background-color: #3d405b;
    }
}

@media (min-width: 1280px) {

    body {
        background-color: #81b29a;
    }
}
