body {
    background-color: #340068;
}

@media (max-width: 1080px) {

    body {
        background-color: #ff6978;
    }
}

@media (max-width: 550px) {

    body {
        background-color: #b1ede8;
    }
}

@media (max-width: 400px) {

    body {
        background-color: #6d435a;
    }
}
